.container {
    width: 500px;
    margin: 10% 33%;
    float: left;
}
body {
    background-color: aquamarine;
}
.white-key {
    border: 1px solid gray;
    background-color: white;
    float:left;
    padding: 110px 15px 30px 15px;
    font-weight: bold;
}
.black-key {
    display: inline-block;
    /*border: 1px solid gray;*/
    background-color: black;
    float:left;
    color: white;
    padding: 50px 15px 30px 10px;
}

.container #w {
    position: relative;
    left:184px;
}
.container #e {
    position: relative;
    left:192px;
}
.container #t {
    position: relative;
    left:237px;
}
.container #y {
    position: relative;
    left:245px;
}
.container #u {
    position: relative;
    left:252px;
}